.workout {
  background-color: black;
  height: 100vh;
  margin-left: 25rem;
}

.btns {
  height: 8%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

.btn {
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.btn:hover {
  transform: scale(1.2);
}

.detail {
  height: 90%;
  width: 85%;
  overflow: auto;
}
