.main {
  list-style: none;
}

.section {
  display: flex;
  color: white;
  margin: 1rem;
  margin-left: 3rem;
  font-size: 1.3rem;
}

.sort,
.trash {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.sort {
  font-size: 1rem;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.sort:hover,
.trash:hover {
  opacity: 0.7;
}
