.main {
  height: 100vh;
  margin-left: 22rem;
  color: white;
  min-width: 55rem;
  min-height: 48rem;
}

.info {
  margin: 0;
  margin-left: 3rem;
  padding-top: 15%;
  font-weight: bold;
  min-width: 37rem;
}

.infoP {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.notice {
  color: rgb(219, 39, 39);
}

@media screen and (max-width: 55rem) {
  .main {
    width: 100%;
    margin: 0;
  }
}
